<form (ngSubmit)="executeQuery()" #queryForm="ngForm">
  <div class="form-group row">
    <div class="col-sm-3">
      <label for="private_sql_group">私有SQL组</label>
      <select class="form-control" id="private_sql_group" (change)="onChangeGroup($event.target.value)">
        <option *ngFor="let name of _user_sqls_gruops" [value]="name">{{ name }}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label for="private_sql_text">私有SQL</label>
      <select class="form-control" id="private_sql_text" (change)="onChangeText($event.target.value)">
        <option *ngFor="let name of sql_group_texts;let i = index " [value]="i">{{ name.alias }}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label for="shared_sql_group">分享SQL用户</label>
      <select class="form-control" id="shared_sql_group" (change)="getUserShareSql($event.target.value)">
        <option *ngFor="let name of sql_share_users">{{ name }}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label for="shared_sql_text">分享SQL</label>
      <select class="form-control" id="shared_sql_text" (change)="getUserSqlsShareSql($event.target.value)">
        <option *ngFor="let sql of sql_user_share_sqls;let i = index " value="{{i}}">{{ sql.alias }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="5" [(ngModel)]="_query_obj.sqltext" #sqltext="ngForm" required
              ngControl="sqltext"></textarea>
    <div [hidden]="sqltext.valid || sqltext.pristine" class="alert alert-danger">查询语句必须填写</div>
  </div>
  <div class="form-group">
    <input class="form-control form-control-sm" type="text" placeholder="查询原因" [(ngModel)]="_query_obj.reason"
           #reason="ngForm" ngControl="reason"
           required>
    <div [hidden]="reason.valid || reason.pristine" class="alert alert-danger">原因必须填写</div>
  </div>
  <div class="radio-inline">
    <label><input type="radio" name="optionsRadios" (click)="queryAll(false)" checked>40</label>
  </div>
  <div class="radio-inline">
    <label><input type="radio" name="optionsRadios" (click)="queryAll(true)">ALL</label>
  </div>
  <div class="radio-inline" [hidden]="!_query_obj.queryfull">
    <label><span>剩余查询次数:{{ all_query_count }}</span></label>
  </div>
  <div [hidden]="!applayFullCountDisplay()" class="radio-inline">
    <select class="form-control" id="exampleSelect1" [(ngModel)]="apply_num">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="radio-inline" [hidden]="!applayFullCountDisplay()">
    <label>
      <button type="button" class="btn btn-secondary btn-sm" (click)="applyForFullCount(apply_num)">申请查询次数</button>
    </label>
  </div>
  <div class="checkbox"></div>
  <div class="btn-group">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!queryForm.form.valid && !_is_querying">执行SQL({{ _query_obj.server }})
    </button>
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"
            [disabled]="!queryForm.form.valid">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <button type="button" class="dropdown-item btn btn-sm" *ngFor="let ser of _db_servers"
              (click)="setQueryServer(ser)">{{ ser }}
      </button>
    </div>
  </div>
  <button class="btn btn-secondary btn-sm" (click)="save_sql()">保存SQL</button>
</form>

<sql-query-query-result *ngIf="_first_query" (success)="_is_querying"
                        [executeQuery]="_query_obj"></sql-query-query-result>