<form #heroForm="ngForm">
  <div class="form-group row">
    <div class="col-sm-6">
      <label for="exampleSelect2">SQL GROUP</label>
      <button type="button" class="btn btn-info btn-sm" (click)="add_group()">+</button>
      <button type="button" class="btn btn-info btn-sm" (click)="delete_group()">-</button>
      <button type="button" class="btn btn-info btn-sm" (click)="open_update_group_ui()">U</button>

      <input [hidden]="update_group_ui_statue" type="text" size="50%" [(ngModel)]="curr_new_group_name">
      <button [hidden]="update_group_ui_statue" class="btn btn-primary btn-sm" (click)="update_group()">更新</button>
      <button [hidden]="update_group_ui_statue" class="btn btn-primary btn-sm" (click)="open_update_group_ui()">关闭</button>

      <select multiple size=8 class="form-control" id="exampleSelect2" (change)="onChangeGroup($event.target.value)">
        <option *ngFor="let name of sql_groups" >{{ name }}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <label for="exampleSelect2">SQL</label>
      <button type="button" class="btn btn-info btn-sm" (click)="add_sql()">+</button>
      <button type="button" class="btn btn-info btn-sm" (click)="delete_sql()">-</button>
      <select multiple size=8 class="form-control" id="exampleSelect2" (change)="onChangeText($event.target.value)">
        <option *ngFor="let text of sql_group_sqls;let i = index " value="{{i}}">{{ text.alias }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control form-control-sm" ngControl="alias" type="text" placeholder="SQL别名" #alias="ngForm" [(ngModel)]="curr_alias"
           required>
    <div [hidden]="alias.valid || alias.pristine" class="alert alert-danger">别名必须填写</div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="10" #sqlarea [(ngModel)]="curr_sqltext" required></textarea>
  </div>
  <div class="form-group">
    <input class="form-control form-control-sm" ngControl="power" type="text" placeholder="查询原因" #power="ngForm" [(ngModel)]="curr_reason"
           required>
    <div [hidden]="power.valid || power.pristine" class="alert alert-danger">原因必须填写</div>
  </div>
  <div class="checkbox">
    <label>
      <!--<input #curr_share type="checkbox" (change)="angular = curr_share.checked" />-->
      <input type="checkbox" [(ngModel)]="curr_share" >是否共享
    </label>
  </div>
  <button class="btn btn-primary btn-sm" (click)="update_sql()" [disabled]="!heroForm.form.valid">保存SQL</button>
  <button class="btn btn-secondary btn-sm" (click)="delete_sql()">删除SQL</button>
</form>